In [1]:
import datetime
import pandas as pd
foursquare = open('./input/tt_data.txt', 'r').readlines()
foursquare = [k.split('_') for k in foursquare]
foursquare=[[id,datetime.datetime.strptime(date, "%Y%m%d%H%M"),eval(lon),eval(lat)] for id,date,lat,lon in foursquare]
foursquare=pd.DataFrame(foursquare,columns=['userId','date','lon','lat'])

In [3]:
beginTime=datetime.datetime.strptime('200001010000', "%Y%m%d%H%M")
foursquare['dateId']=foursquare.date.apply(lambda x:(x-beginTime).days)

In [7]:
foursquare['binId']=foursquare.apply(lambda x:str(int((round(x[2],2)+180)*1e7+(round(x[3],2)+180)*100)),axis=1)

In [8]:
foursquare=foursquare[['userId', 'dateId', 'binId']]

In [9]:
foursquare.sort_values(by=['userId', 'dateId'], ascending=True, inplace=True)
foursquare.reset_index(drop=True,inplace=True)
foursquare

      userId  dateId      binId
0          1    4235  223120133
1          1    4236  221920130
2          1    4236  221920130
3          1    4238  221420130
4          1    4238  221420130
...      ...     ...        ...
53332    998    4335  573322550
53333    998    4335  573322550
53334    998    4336  573522550
53335    998    4336  573722550
53336    999    4289  678821359

[53337 rows x 3 columns]

In [10]:
def flat2txt(dff):
    df=dff.reset_index(drop=True)
    userid=df.userId[0]
    ans=userid+';|'
    ans+=df[['dateId','binId']].apply(lambda x:str(x[0])+','+str(x[1])+'|',axis=1).sum()
    return ans

In [11]:
foursquareExample=foursquare.groupby(by='userId').apply(flat2txt).tolist()

In [12]:
fw = open('./input/tt_example.txt', 'w')
for i in foursquareExample:
    fw.write(i+'\n')
fw.close()