In [1]:
import datetime
import pandas as pd
foursquare = open('./input/fs_data.txt', 'r').readlines()
foursquare = [k.split('_') for k in foursquare]
foursquare=[[id,datetime.datetime.strptime(date, "%Y%m%d%H%M"),eval(lon),eval(lat)] for id,date,lat,lon in foursquare]
foursquare=pd.DataFrame(foursquare,columns=['userId','date','lon','lat'])

In [2]:
foursquare.date.min()

Timestamp('2010-03-04 19:25:00')

In [3]:
beginTime=datetime.datetime.strptime('200810200000', "%Y%m%d%H%M")
foursquare['dateId']=foursquare.date.apply(lambda x:(x-beginTime).days)

In [4]:
round(40.732173,2)

40.73

In [5]:
1e5

100000.0

In [6]:
foursquare.dtypes

userId            object
date      datetime64[ns]
lon              float64
lat              float64
dateId             int64
dtype: object

In [7]:
foursquare['binId']=foursquare.apply(lambda x:str(int((round(x[2],2)+180)*1e7+(round(x[3],2)+180)*100)),axis=1)

In [8]:
foursquare=foursquare[['userId', 'dateId', 'binId']]

In [9]:
foursquare.sort_values(by=['userId', 'dateId'], ascending=True, inplace=True)
foursquare.reset_index(drop=True,inplace=True)
foursquare

      userId  dateId      binId
0          1    1020  223120133
1          1    1021  221920130
2          1    1021  221920130
3          1    1023  221420130
4          1    1023  221420130
...      ...     ...        ...
53332    998    1120  573322550
53333    998    1120  573322550
53334    998    1121  573522550
53335    998    1121  573722550
53336    999    1074  678821359

[53337 rows x 3 columns]

In [10]:
def flat2txt(dff):
    df=dff.reset_index(drop=True)
    userid=df.userId[0]
    ans=userid+';|'
    ans+=df[['dateId','binId']].apply(lambda x:str(x[0])+','+str(x[1])+'|',axis=1).sum()
    return ans

In [11]:
foursquareExample=foursquare.groupby(by='userId').apply(flat2txt).tolist()

In [12]:
fw = open('./input/fs_example.txt', 'w')
for i in foursquareExample:
    fw.write(i+'\n')
fw.close()